body {
  text-align: center;
  font-family: monospace;
}
h3 {
  font-size: 2rem;
  color: rgb(139, 11, 245);
}
button {
  background-color: rgba(22, 235, 254, 0.8);
  color: rgb(25, 14, 240);
  border: none;
  font-weight: bold;
  border-radius: 30px;
  padding: 1rem;
  font-size: 1.5rem;
}
h4 {
  font-size: 2rem;
}
div {
  border: 5px solid black;
  height: 200px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
}
